{% load get_url_name %}
{% get_url_name as url_name %}
<!-- Inner sidebar header -->
<div class="inner-sidebar-header justify-content-center">
    {% if url_name == 'home' %}
    <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal"><i class="fa fa-plus"></i> DISKUSI BARU</button>
    {% else %}
      <a href="{% url 'home' %}" class="btn btn-primary has-icon btn-block"><i class="fa fa-home"></i> BERANDA</a>
    {% endif %}
</div>
<!-- /Inner sidebar header -->

<!-- Inner sidebar body -->
<div class="inner-sidebar-body p-0">
    <div class="p-3 h-100" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: -16px;">
            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 16px;">
                            <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                {% if url_name == 'home' or url_name == 'author' %}
                                  {% for thread in threads %}
                                  <a href="{% url 'author' thread.penulis %}" class="nav-link nav-link-faded has-icon">{{thread.penulis}}</a>
                                  {% endfor %}
                                {% else %}
                                  <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon active">{{thread.penulis}}</a>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
    </div>
</div>
<!-- /Inner sidebar body -->
